In [1]:
x = 3;
y = x + 5;
y

8

In [4]:
x.__add__(10);
x

3

In [5]:
x=10

In [7]:
x.__add__(10)

20

In [10]:
diccionario = {'uno': x, 'dos': x.__add__(10)};

diccionario

{'uno': 10, 'dos': 20}

In [13]:
nombre="nicolas hola"
print(f"{nombre.title()} cuesta{diccionario['uno']} pesos \n y el otro libro {diccionario['dos']} pesos.")

Nicolas Hola cuesta10 pesos
 y el otro libro 20 pesos.

In [1]:
"turu"**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [2]:
"turu" * 2

'turuturu'